#faq_page{
    margin: 80px 0;
    .faq_wrapper{
        border-radius: 10px;
        box-shadow: 0px 14px 40px 0px rgba(220, 220, 220, 0.3);
        border: 1px solid #E2DFDD;
        padding: 90px 120px;

        .faq_title{
            display: flex;
            // .faq_icon{

            // }
        }
      
    }
}