#contact {
  padding-bottom: 130px;
  .container {
    .messageBox {
    margin-top: 120px;
      border: 1px solid #e2dfdd;
      .cardInfos {
        margin-top: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
        flex-wrap: wrap;
        .cardInfo {
          display: flex;
          align-items: center;
          justify-content: center;
          .cardImg {
            margin-right: 26px;
            border: 1px solid #e2dfdd;
            padding: 15px;
            border-radius: 10px;
          }
          .cardContent {
            .cardTitle {
              text-transform: uppercase;
              margin-bottom: 10px;
              .title {
                font-size: 17px;
                font-weight: 580;
              }
            }
          }
          .cardDesc {
            display: flex;
            flex-direction: column;
            span {
              color: #737373;
              display: flex;
              flex-direction: column;
            }
          }
        }
      }
      form {
        padding-top: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 10px;
        .initialInputs{
            display: flex;
            width: 100%;
            .initialInput{
                display: flex;
                flex-direction: column;
                width: 100%; 
                align-items: center;
                justify-content: center;
                input{
                   width: 100%; 
                }
            }
        }
        input {
          border: none;
          outline: none;
          border: 1px solid #e2dfdd;
          font-size: 15px;
          padding: 12px 20px;
          max-width: 100%;
          background: #ffffff;
          box-shadow: 0px 14px 40px 0px rgba(220, 220, 220, 0.3);
          border-radius: 5px;
        }
        .error-message {
            text-align: center;
          font-size: 14px;
          color: red;
        }
        .name {
          width: 100%;
        }
        .email {
          width: 100%;
        }
        .subject {
          width: 100%;
          margin-bottom: 20px;
        }
        .message {
          width: 100%;
          padding: 52px 40px;
          margin-bottom: 25px;

        }
      }
      button {
        outline: none;
        border: transparent;
        background-color: var(--main-color);
        color: white;
        padding: 10px 34px;
        border-radius: 5px;
        margin-bottom: 40px;
      }
    }
  }
}
@media screen and (max-width: 1199px){
    #contact{
        .container{
            .messageBox{
                .cardInfos{
                    justify-content: center;
                    .cardInfo{
                        flex-direction: column;                       
                        .cardImg{
                            margin-bottom: 10px;
                        }
                        .cardContent{
                            text-align: center;
                        }

                    }
                }
            }
        }
    } 
}
#map{
    iframe{
        width: 100%;

    }
   
} 
    
    


    

