@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

#aboutUs {
  position: relative;
  background-color: white;
  z-index: 0;

  .container {
    display: flex;
    gap: 80px;
    padding-top: 120px;
    padding-bottom: 130px;

    .rightImg {
      position: absolute;
      right: 0;
      top: -60px;
    }

    .leftImg {
      position: absolute;
      left: 0;
    }

    .contentImgs {
      background-color: transparent;
      z-index: 2;
      margin-left: 100px;

      .imgContainer {
        position: relative;

        .bigImg {
          img {
            max-width: none;
          }
        }

        .smallImg {
          position: absolute;
          bottom: 0;
          left: -130px;
        }
      }
    }

    .textContent {
      width: 530px;
      padding-top: 45px;
      z-index: 2;

      .subTitle {
        margin-bottom: 30px;

        .textSubTitle {
          background-color: var(--main-color);
          letter-spacing: 2px;
          color: white;
          padding: 2px 13px;
          font-size: 12px;
          border-radius: 3px;
        }
      }

      .mainTitle {
        margin-bottom: 20px;

        .title {
          color: black;
          text-transform: uppercase;
          font-family: "Bebas Neue", sans-serif;
          font-size: 55px;
          line-height: 57px;
        }
      }

      .description {
        font-size: 18px;
        color: var(--light-grey-color);

        .initalDesc {
          margin-bottom: 45px;
        }
      }
      .listCheck {
        .checkboxLists {
          margin-top: 10px;
          display: flex;
          flex-direction: column;
          .checkboxList {
            display: flex;
            align-items: center;
            margin-bottom: 15px;
            .checkbox {
              width: 40px;
              height: 40px;
              border: 1px solid #e2dfdd;
              border-radius: 7px;
              display: flex;
              justify-content: center;
              align-items: center;
              margin-right: 18px;
              svg {
                display: inline-block;
                fill: #292D32;
              }
            }
            span {
              font-size: 18px;
              font-weight: 450;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1200px) {
  #aboutUs {
    .container {
      flex-wrap: wrap;
      .contentImgs {
        margin-left: 0;
        .imgContainer {
          .smallImg {
            bottom: 0;
            right: 0;
            left: auto;
            transform: translateX(50%);
          }
        }
      }
      .textContent {
        width: 100%;
      }
    }
  }
}
@media screen and (max-width: 767px) {
  #aboutUs {
    .container {
      padding-left: 0;
      padding-right: 0;
      .contentImgs {
        flex-direction: column;
        display: flex;
        .imgContainer {
          display: flex;
          align-items: center;
          flex-direction: column;
          .bigImg {
            margin: 0 30px;
            img {
              max-width: 100%;
            }
          }
          .smallImg {
            display: flex;
            position: static;
            margin-top: 40px;
            margin-right: 50%;
          }
        }
      }
      .textContent {
        padding: 0 25px;
      }
    }
  }
}
