@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
#hero-area {
    .contents {
        display: flex;
        justify-content: center;
        align-items: center;

        .hero-content {
            
            h1 {
                text-transform: uppercase;
                font-size: 80px;
                font-family: 'Bebas Neue', sans-serif;
                color: #000;
                letter-spacing: 2px;
                font-size: clamp(5rem, 4.1667rem + 4.4444vw, 7.5rem);
                line-height: clamp(5rem, 4.1667rem + 4.4444vw, 7.5rem);
            }

            p {
                max-width: 500px;
                color: var(--dark-grey-color);
                font-size: 18px;
            }
            button{
                padding: 10px 35px;
                border: 1px solid var(--light-grey-color);
                background-color: transparent;
                border-radius: 5px;
                font-size: 12px;
                text-transform: uppercase;
                font-weight: 500;
                letter-spacing: 2px;
                margin: 0 20px 0 0;
                line-height: 29px;
                &:hover{
                    &::after{
                        width: 100%;
                        transition-delay: left 300ms;
                        left: 0;
                    }
                }
                &::after{
                    content: '';
                    position: absolute;
                    top: 0; 
                    right: 0;
                    transform-origin: right;
                    height: 100%;
                    width: 0;
                    background-color: var(--main-color);
                    transition: 0.3s ease-in-out;
                    
                }
                
            }
            .testy{
                background-color: #fff;
                color: #000;
                transition: 0.3s ease-in-out;
                position: relative;
                overflow: hidden;
                span{
                    position: relative;
                    z-index: 10 ;
                }
                &:hover{
                    color: #fff;
                    
                }
                
                
            }
            .read-more{
                background-color: var(--main-color);
                color: #fff;
                transition: 0.3s ease-in-out;
                position: relative;
                overflow: hidden;
                span{
                    position: relative;
                    z-index: 10 ;
                }
                &:hover{
                    color: #fff;
                    
                }
                &::after{
                    
                    background-color: #010103;
                    
                    
                }
            }
        }
    }
}

@media screen and (max-width:992px) {
    #hero-area {
        .contents {
            flex-direction: column-reverse;
            text-align: center;
        }
    }
}



