#shop_cart {
  margin: 50px 0;
  .empty_cart {
    padding: 40px 0;
    font-size: 26px;
    .go_to_shop {
      border: none;
      outline: none;
      background: var(--main-color);
      margin-left: 20px;
      border-radius: 40px;
      padding: 10px;
      font-size: 18px;
    }
  }
  .shop_content {
    padding: 50px;
    border: 1px solid #e2dfdd;
    border-radius: 10px;
    .product_property {
      .cart_product_info {
        border-bottom: 1px solid #e2dfdd;
        h5 {
          font-size: 15px;
          font-weight: 600;
          padding: 0;
          margin-bottom: 20px;
        }
      }
    }
  }
  .cart_buttons_wrapper {
    padding: 30px 10px;
    display: flex;
    input {
      border: none;
      outline: none;
      color: var(--dark-grey-color);
      font-weight: 500;
      max-width: 100px;
    }
    button {
      border: none;
      outline: none;
      text-transform: uppercase;
      background: none;
      padding: 10px 30px;
      font-weight: 700;
      font-size: 14px;
      &:hover {
        color: var(--main-color);
        transition: all 0.4s ease;
      }
    }
  }

  .cart_total {
    display: flex;
    justify-content: end;
    text-align: center;
    margin: 20px 0 60px;
    .cart_total_heading{
      font-size: 24px;
      font-weight: 600;
      margin-bottom: 20px;
    }
    .sub_total{
      display: flex;
      justify-content: space-between;
      background-color: #FBFAF9;
      color: #6f7987;
      margin-bottom: 20px;
      border-radius: 10px;
      padding: 5px 25px;
      width: 400px;
     
      p{
        font-weight: 600;
        color: var(--dark-grey-color);
        
      }
    }
    button {
      padding: 10px 35px;
      border: 1px solid var(--light-grey-color);
      background-color: transparent;
      border-radius: 5px;
      font-size: 12px;
      text-transform: uppercase;
      font-weight: 500;
      letter-spacing: 2px;
      margin: 20px 20px 0 0;
      line-height: 29px;
      &:hover {
        &::after {
          width: 100%;
          transition-delay: left 300ms;
          left: 0;
        }
      }
      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        transform-origin: right;
        height: 100%;
        width: 0;
        background-color: var(--main-color);
        transition: 0.3s ease-in-out;
      }
    }

    .checkout_btn {
      background-color: var(--main-color);
      color: #fff;
      transition: 0.3s ease-in-out;
      position: relative;
      overflow: hidden;
      span {
        position: relative;
        z-index: 10;
      }
      &:hover {
        color: #fff;
      }
      &::after {
        background-color: #010103e3;
      }
    }
  }

  @media screen and (max-width: 992px) {
    .cart_buttons_wrapper {
      justify-content: center;
    }
    .cart_total{
      justify-content: center;
     
    }
  }

  @media screen and (max-width: 768px) {
    .shop_content {
      padding: 10px;
      .cart_product_info {
        display: none;
      }
      
    }

    .cart_buttons_wrapper{
      flex-direction: column;
      align-items: start;
      justify-content: center;
      gap: 20px;
      button{
        padding: 0;
      }
    }
    .cart_total{
      .sub_total{
        width: 100%;
      }
    }
  }
}
