#top_grade_section {
  background-color: #f4f1ee;
  text-align: center;
  position: relative;
  .bg_images_1 {
    left: 0;
  }
  .bg_images_2 {
    right: 0;
  }

  .bg_img {
    position: absolute;
    top: 39px;
    z-index: 1;
  }

  .bottom_space{
    margin-bottom: 100px;
  }
  .top_spage{
    margin-top: 100px;
  }

  @media screen and (max-width: 992px) {
    .bg_img {
      img {
        max-width: 300px;
      }
    }

    .bottom_space{
      margin: 0;
      
    }
    .top_spage{
      margin: 0;
    }
  }
  @media screen and (max-width: 768px) {
    .bg_img {
      img {
        max-width: 200px;
      }
    }
    .bg_images_2 {
      display: none;
    }
  }
}
