#dropdown {
  background-color: lightblue;
  position: absolute;
  top: 75px;
  left: -10px;
  z-index: 3;
  width: 250px;
  border-radius: 10px;
  padding: 10px 0;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease 0s;
  transform: scaleY(0);
  transform-origin: top center;
  .dropdown_items {
    color: #010103;
    padding: 10px 30px;
    cursor: pointer;
    position: relative;
    height: 100%;
    &:hover {
      color: var(--main-color);
      transition: all 0.4s ease;
        transform: scaleX(1.01);
        letter-spacing: 1px;
      a::after {
        opacity: 1;
        left: -10px;
        transition: all 0.4s ease;
      }
    }
    a::after {
      position: absolute;
      left: 0px;
      top: 50%;
      transform: translateY(-50%);
      width: 11px;
      height: 11px;
      background: var(--main-color);
      content: "";
      border-radius: 50%;
      opacity: 0;
      transition: all 0.4s ease;
    }
    a {
      text-transform: uppercase;
      font-size: 0.9rem;
      font-weight: 600;
      display: block;
      height: 100%;
      position: relative;
      padding: 0 10px;
    }
  }
}
