#footerSection {
  background-color: black;
  padding-top: 125px;
  position: relative;
  .arrowUp {
    cursor: pointer;
    position: absolute;
    top: 0;
    transform: translate(-50%, -50%);
    left: 50%;
    font-size: 15px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease-in-out;
    &:hover{
      background-color: var(--main-color);
      svg{
        fill: white;
      }
    }
    button {
      outline: none;
      background: transparent;
      border: none;
      width: 50px;
      height: 50px;
    }
    svg {
      fill: black;
      transition: 0.3s ease-in-out;
    }
  }
  .topFooter {
    display: flex;
    justify-content: space-between;
    .phone {
      display: flex;
      align-items: center;
      .phoneImg {
        margin-right: 15px;
      }
      .phoneContent {
        .phoneText {
          color: white;
        }
        .number {
          color: var(--light-grey-color);
        }
      }
    }
    .location {
      display: flex;
      align-items: center;
      .locationImg {
        margin-right: 15px;
      }
      .locationContent {
        .locationText {
          color: white;
          text-transform: uppercase;
        }
        .address {
          color: var(--light-grey-color);
        }
      }
    }
    .subscribe {
      form {
        display: flex;
        align-items: center;
        border-bottom: 1px solid #323232;
        width: 100%;
        .email {
          border: none;
          outline: none;
          background: transparent;
          padding: 15px;
          font-size: 14px;
          padding-left: 20px;
          color: var(--light-grey-color);
          width: 350px;
        }
        .subscribeBtn {
          text-transform: uppercase;
          color: white;
          letter-spacing: 2px;
          background: transparent;
          font-size: 12px;
          border: none;
          display: flex;
          // position: absolute;
          // right: 70;
          svg {
            margin-left: 8px;
          }
        }
      }
    }
  }
  .midFooter {
    margin-bottom: 30px;
    margin-top: 65px;
    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .logo {
        width: 50%;
        .logoImg {
          margin-bottom: 15px;
        }
        .logoDesc {
          .description {
            color: white;
            font-size: 18px;
          }
        }
      }
      .socialLinks {
        display: flex;
        justify-content: flex-end;
        svg {
          color: var(--dark-grey-color);
          border: 1px solid var(--dark-grey-color);
          border-radius: 5px;
          margin-right: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;
          font-size: 37px;
          padding: 10px 10px;
          transition: 0.3s;
        }
        svg:hover {
          color: white;
          border: 1px solid white;
        }
      }
    }
  }
  .bottomFooter {
    border-top: 1px solid #32323d;
    padding-top: 30px;
    padding-bottom: 90px;
    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .footerMenu {
        .navLinks {
          display: flex;
          color: white;
          text-transform: uppercase;
          .homePage {
            color: var();
          }
          li {
            margin-right: 55px;
            font-size: 15px;
          }
          li:hover {
            color: var(--main-color);
          }
        }
      }
      .goTop {
        button {
          border: none;
          outline: none;
          background: none;
          span {
            color: white;
            text-transform: uppercase;
            font-size: 15px;
          }
          svg {
            color: white;
            margin-bottom: 4px;
            padding-left: 5px;
            height: auto;
            font-size: 20px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1199px) {
  #footerSection {
    position: relative;
    .arrowUp {
      cursor: pointer;
      position: absolute;
      top: 0;
      transform: translate(-50%, -50%);
      left: 50%;
      font-size: 15px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      button {
        outline: none;
        background: transparent;
        border: none;
        width: 50px;
        height: 50px;
      }
      svg {
        fill: black;
      }
    }
    .topFooter {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      .phone,
      .location,
      .subscibe {
        padding: 20px 30px;
      }
      .subscribe {
        width: 60%;
        form {
          display: flex;
          align-items: center;
          width: 100%;
          .email {
            border: none;
            outline: none;
            background: transparent;
            padding: 15px;
            font-size: 14px;
            padding-left: 20px;
            width: 80%;
          }
          .subscribeBtn {
            background: transparent;
            font-size: 12px;
            border: none;
            display: flex;
            svg {
              margin-left: 8px;
            }
          }
        }
      }
    }
    .midFooter {
      margin-bottom: 30px;
      margin-top: 65px;
      .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        align-items: center;
        .logo {
          width: 50%;
          .logoImg {
            margin-bottom: 15px;
          }
        }
        .socialLinks {
          display: flex;
          justify-content: flex-end;
          padding: 75px 40px 0;
          svg {
            margin-right: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            padding: 10px 10px;
          }
        }
      }
    }
    .bottomFooter {
      padding-top: 30px;
      padding-bottom: 90px;
      .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        .footerMenu {
          .navLinks {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            li {
              margin-right: 0;
              padding: 25px;
            }
          }
        }
      }
    }
  }
}
