#navbar {
  background-color: #fff;
  height: 90px;
  border-top: 1px solid var(--gray-color);
  z-index: 999;
  .nav_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;

    .nav_left {
      display: flex;
      align-items: center;
      .nav_left_links {
        display: flex;
        align-items: center;
      }
    }
    .nav_right {
      display: flex;
      align-items: center;
      gap: 5px;
      .nav_item_icon {
        font-size: 1.4rem;
        button {
          border: 0;
          outline: 0;
          background-color: transparent;
          cursor: pointer;
          padding: 8px;
        }
      }
      .bars{
        font-size: 1.6rem;
        display: none;
      }
      .basket_icon {
        position: relative;

        .basket_counter {
          background-color: #80a093;
          border-radius: 50%;
          width: 16px;
          height: 16px;
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          top: 10px;
          left: 24px;
          font-size: 12px;
          color: #fff;
        }
      }
      .heart{
        font-size: 1.2rem;
        position: relative;
        .wishlist_counter {
          background-color: #80a093;
          border-radius: 50%;
          width: 16px;
          height: 16px;
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          top: 8px;
          left: 24px;
          font-size: 12px;
          color: #fff;
        }
      }
    }

    .nav_item {
      padding: 0 15px;
      cursor: pointer;
      position: relative;
      height: 100%;
      &:hover {
        color: var(--main-color);
        transition: all 0.4s ease;
        .subMenu {
          visibility: visible;
          opacity: 1;
          transition: all 0.4s ease 0s;
          transform-origin: top center;
          transform: scaleY(1);
        }
        & > a::after {
          opacity: 1;
          left: -10px;
          transition: all 0.4s ease;
        }
      }

      & > a::after {
        position: absolute;
        left: 0px;
        top: 50%;
        transform: translateY(-50%);
        width: 11px;
        height: 11px;
        background: var(--main-color);
        content: "";
        border-radius: 50%;
        opacity: 0;
        transition: all 0.4s ease;
      }
      & > a {
        text-transform: uppercase;
        font-size: 0.9rem;
        font-weight: 600;
        display: block;
        height: 100%;
        line-height: 80px;
        position: relative;
        padding: 0 10px;
      }
      & > .active {
        color: var(--main-color);
        &.nav_link::after {
          position: absolute;
          left: -10px;
          top: 50%;
          transform: translateY(-50%);
          width: 11px;
          height: 11px;
          background: var(--main-color);
          content: "";
          border-radius: 50%;
          opacity: 1;
          transition: all 0.4s ease;
        }
        &.nav_link {
          text-transform: uppercase;
          font-size: 0.9rem;
          font-weight: 600;
          display: block;
          height: 100%;
          line-height: 80px;
          position: relative;
          padding: 0 10px;
        }
      }
    }
  }

  @media screen and (max-width: 992px) {
    .nav_content {
      .nav_left {
        .nav_left_links {
          display: none;
        }
        
        
      }
      .nav_right {
        .bars{
          font-size: 1.6rem;
          display: block !important;
        }
       
      }
      
    }
    
  }
}


@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

.header-sticky {
  position: fixed;
  top: 0;
  transform: translateY(0%);
  left: 0;
  z-index: 10;
  background-color: #000;
  width: 100%;
  transition: all 0.3s ease-in-out;
  animation: fadeInDown 0.5s ease-in-out;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  
}