#top_grade_product {
  .top_grade_product {
    position: relative;
    z-index: 2;
    .product_img {
      width: 160px;
      height: 160px;
      border-radius: 50%;
      position: relative;
      margin: 0 auto;
      margin: 20px auto;
      img {
        border-radius: 50%;
        height: 160px;
      }
      .product_num {
        position: absolute;
        top: 0;
        left: 10px;
        background: #fff;
        color: #000;
        border: 1px solid #e2dfdd;
        font-weight: 500;
        margin-top: 0;
        border-radius: 50%;
        width: 35px;
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .product_name {
      font-size: 30px;
      font-family: "Bebas Neue", sans-serif;
    }

    .product_info {
      color: var(--dark-grey-color);
      font-size: 1rem;
      max-width: 250px;
      margin: 0 auto;
    }
  }
}
