#side_bar_product{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        margin: 15px 0;
        .side_bar_product_img {
          max-width: 50px;
          img {
            width: 100%;
          }
        }
        .product_info{
          width: 150px;
        }
        .side_bar_product_name {
          color: #010103;
          font-family: "Jost", sans-serif;
          font-size: 0.9rem;
        }
        .side_bar_product_price {
          font-weight: 600;
        }
        .product_remove_btn {
          border: none;
          outline: none;
          background-color: #80a093;
          border-radius: 50%;
          color: #fff;
          width: 24px;
          height: 24px;
          font-size: 1.3rem;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      
}